/* font-family: 'Space Mono', monospace; */

* {
  box-sizing: border-box;
}

body, nav > p, h1 {
  margin: 0;
}

body {
  padding: 2em 5em;
  color: #141414;
  font-family: 'Space Mono', monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: .85rem
  /* height: 100vh; */
}

/* TYPOGRAPHY */

h1 {
 color: #e60040;
}

.nav-icon {
  width: 2em;
  margin-right: .3em;
  filter: invert(1)
}

nav > p {
  color: white;
  font-size: 1.1rem;
}

.card-icon {
  width: 1.8em;
  margin-right: .3em;
  filter: invert(.3)
}

.card-date {
  font-weight: bold;
}

.card-map {
  letter-spacing: -1px;
}

.card-map > a {
  text-decoration:underline;
  color: blue;
}

.card-map > a:hover, .card-map > a:focus {
  color: #ea003e;
}



/* LAYOUT */

.container {
  max-width: 800px;
}

nav {
  background-image: linear-gradient(
      45deg,
      hsl(240deg 2% 11%) 0%,
      hsl(256deg 19% 17%) 11%,
      hsl(276deg 28% 22%) 22%,
      hsl(299deg 35% 25%) 33%,
      hsl(316deg 51% 31%) 44%,
      hsl(326deg 71% 35%) 56%,
      hsl(330deg 100% 36%) 67%,
      hsl(338deg 100% 42%) 78%,
      hsl(346deg 100% 47%) 89%,
      hsl(0deg 100% 54%) 100%);
  display: flex;
  justify-content: center;
  padding: 2em;
  align-items: center;
  border-radius: 10px 10px 0 0;
}

.hero {
  padding: 2em ;
  border: 2px solid lightslategrey;
  border-radius: 0 0px 10px 10px;
  border-top: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
  /* background: pink */
}

.hr {
  border-bottom: 1px solid lightgray;
}

.card-img {
  min-width: 10em;
  margin-bottom: 1em;
  border-radius: 10px;
}

.card-info {
  padding-left: 3em;
}

.card-loc-container {
  display: flex;
  align-items: center;
  margin-bottom: .5em;
}

.card-loc {
  letter-spacing: 4px;
  padding: 0 10px 0 5px;
  text-transform: uppercase;
}

.card-body {
  letter-spacing: -.3px;
  line-height: 1.25rem;
  width: 100%;
}
